/* yourComponent.css */
.pagination-buttons lightning-layout {
    display: flex;
    align-items: center;
}

.pagination-buttons lightning-layout-item {
    margin-right: 10px; /* Adjust margin as needed */
}


.pagination-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alphabet-navigation {
    margin-bottom: 10px;
}

.alphabet-link {
    font-size: 12px;
    padding: 0 5px;
    text-decoration: none;
    color: #0070d2;
}

.alphabet-link:hover {
    text-decoration: underline;
}

.pagination-buttons {
    margin-bottom: 10px;
}

.total-pages {
    margin-top: 10px;
}

.pagination-input {
    width: 40px; /* Adjust the width as needed */
}